$primary-color = #0085B3

.not-found
  display: flex
  flex-direction: column
  justify-content:  center
  align-items: center
  background-color: $primary-color
  color: white
  text-align: center
  flex: 1 //stretch content to fit screen vertically

.not-found__text,
.not-found__links
  font-family: Corbel

.not-found__text
  font-size: 1.2em

.not-found__links
  margin: 1em