$primary-color = #0085B3

.branding
  z-index: 2

.logo-border-down
  margin-top: -2.5em
  z-index: 1

.about-restaurant
  margin: -65px 0 -65px 0
  padding: 20px 0
  background-color: $primary-color
  color: white

.about-content
  margin: 40px 0

.about-content__text
  margin: 1.5em 1.8em
  font-family: Corbel
  font-size: 1.1em

.about-content__text--no-margin-top
  margin-top: 0

.about-content__text--no-margin-bottom
  margin-bottom: 0

.sm-border-up
  margin-bottom: -2em