
$primary-color = #0085B3
$secondary-color = #083B4D
$black = #000000
$white = #ffffff

@font-face
  font-family: Corbel
  font-style: normal
  src: url("../fonts/corbel/corbel.ttf")

@font-face
  font-family: Htowert
  font-style: normal
  src: url("../fonts/htowert/htowert.ttf")

html,
body
  margin: 0
  padding: 0
  font-family: Htowert
  font-size: 16px

strong
  color: inherit;

h1
  font-size: 2.5rem
h2
  font-size: 2rem
h3
  font-size: 1.75rem
h4
  font-size: 1.5rem
h5
  font-size: 1.25rem
h6
  font-size: 1rem

a:link,
a:active,
a:visited
  color: $primary-color

a:hover
  color: $primary-color

a.is-white:link,
a.is-white:active,
a.is-white:visited
  color: $white

a.is-white:hover
  color: $white

.noscroll
  overflow: hidden
