$primary-color = #0085B3
$secondary-color = #104F66
$danger-color = #d06464
$is-danger = yellow

.contact-map
  width: 100%
  height: 30%
  min-height: 30%
  background-color: grey

.contact-box
  font-family: Corbel
  padding: 1.2em 1.2em 4em 1.2em
  background-color: $primary-color
  color: white

.contact-box__title
  font-family: Htowert
  font-size: 1.8em
  margin-bottom: 0.5em

.contact-form .field .form-label
  font-size: 1.3em
  font-weight: normal
  color: white

.contact-form .field .input,
.contact-form .field .textarea
  border-radius: 10px
  resize: none

.contact-form .field .control.error
  background-color: $danger-color
  border: 4px solid $danger-color
  border-radius: 10px

.parsley-errors-list
  margin: 4px 3px 0px 3px

.contact-form .field .button
  width: 100%
  height: 2em
  font-family: Corbel
  font-size: 1.3em
  padding: 0
  border-radius: 10px
  background-color: $secondary-color

.contact-box__border
  margin-top: -3.5em
  margin-bottom: -2.5em