$primary-color = #0085B3

.branding
  text-align: center

.branding__logo
  width: 80%
  margin: 1.5rem 1rem 0.5rem 1rem

.highlights
  text-align: center

.highlights__title
  font-size: 1.5rem
  font-weight: bold
  line-height: normal

.restaurant-info
  border-style: solid
  border-width: 20px 0 55px 0
  border-image-source: url(../borders/blue-border-complete.svg)
  border-image-slice: 20 0 55 0 fill
  border-image-width: 1 0 1 0
  text-align: center
  color: white

.restaurant-info__info-section
  margin 1rem 0

.restaurant-info__title
  font-size: 2rem

.restaurant-info__text
  font-family: Corbel
  font-size: 1.5rem
