$primary-color = #0085B3

.branding
  text-align: center

.branding__logo
  width: 80%
  margin: 1.5rem 1rem 0.5rem 1rem

.highlights
  text-align: center

.highlights__title
  font-size: 1.5rem
  line-height: normal
  color: black

.highlights__image--2
  margin-top: 0.6em
  margin-bottom: -0.3em

.highlights__image--3
  margin-top: 0.6em
  margin-bottom: 0.3em

.highlights__image--4
  margin-top: 0.6em

.highlights__image--6
  margin-bottom: -0.4em

.highlights__title--6
  margin-bottom: 0.5em

.restaurant-info
  background-color: $primary-color
  margin: -10px 0 -10px 0
  text-align: center
  color: white

.restaurant-info__info-section
  padding 1rem 0

.restaurant-info__title
  font-size: 2rem

.restaurant-info__text
  font-family: Corbel
  font-size: 1.5rem
