$primary-color = #0085B3

.menu-list
  background-color: $primary-color
  color: white
  padding-bottom: 0.5em

.menu__category-title
  font-family: Htowert
  font-size: 1.75em
  text-align: center
  margin: 0.5em 0

.menu__category-image--brunch
  margin-top: 0.5em

.menu__category-title--smoothies
  margin-top: 0.2em

.menu__category-title--brunch
  margin-top: -0.2em

.menu__item
  display: flex;
  justify-content: space-between
  margin: 0.2em 2em
  font-family: Corbel
  font-size: 1.1em

.menu-footer-image
  margin-top: -0.1em
  margin-bottom: -0.8em