$primary-color = #0085B3

.menu-list
  background-color: $primary-color
  color: white
  padding-bottom: 2.1em

.menu__category-title
  font-family: Htowert
  font-size: 1.75em
  text-align: center
  margin-bottom: 0.5em
  padding-top: 0.5em
  clear: both

.menu__category-image--brunch
  margin-top: 0.7em

.menu__category-title--smoothies,
.menu__category-title--brunch
  padding-top: 0

.menu__item
  font-family: Corbel
  margin: 0.2em 1.5em
  clear: both

.menu__item--name
  float: left

.menu__item--price
  float: right

.footer-image
  margin-top: -0.1em