
<footer class="footer">
  <img class="footer__image" src="images/home-mobile-09.png">
  <img class="footer__image__border" src="images/border-white.svg">
  <div class="social-media">
    <img class="social-media-icon social-media-icon--facebook" src="icons/icon-facebook.svg" alt="Facebook">
    <img class="social-media-icon social-media-icon--twitter" src="icons/icon-twitter.svg" alt="Twitter">
    <img class="social-media-icon social-media-icon--instagram" src="icons/icon-instagram.svg" alt="Instagram">
  </div>
</footer>

