
<footer>
  <div class="footer-image">
    <img class="footer-image__image" src="images/home-mobile-09.png">
    <img class="footer-image__border" src="images/border-white.svg">
  </div>
  <div class="social-media">
    <img class="social-media__icon social-media__icon--facebook" src="icons/icon-facebook.svg" alt="Facebook">
    <img class="social-media__icon social-media__icon--twitter" src="icons/icon-twitter.svg" alt="Twitter">
    <img class="social-media__icon social-media__icon--instagram" src="icons/icon-instagram.svg" alt="Instagram">
  </div>
</footer>
