
<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
      <div class="navbar-burger__icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
  </div>

  <div class="menu-overlay">
    <div class="menu-overlay__content">
      <ul class="menu-overlay__navigation-items">
        <li>
          <a class="menu-overlay__navigation-item menu-overlay__navigation-item--home is-white" href="index.html">Home</a>
        </li>
        <li>
          <a class="menu-overlay__navigation-item menu-overlay__navigation-item--about is-white" href="about.html">About</a>
        </li>
        <li>
          <a class="menu-overlay__navigation-item menu-overlay__navigation-item--menu is-white" href="menu.html">Menu</a>
        </li>
        <li>
          <a class="menu-overlay__navigation-item menu-overlay__navigation-item--contact is-white" href="contact.html">Contact</a>
        </li>
      </ul>
      <img class="menu-overlay__navigation-items__border" src="borders/blue-border-bottom.png">

      <div class="menu-overlay__restaurant-info">
        <div class="menu-overlay__info-section menu-overlay__info-section--opening-times">
          <h1 class="menu-overlay__restaurant-info__title">Opening Times</h1>
          <p class="menu-overlay__restaurant-info__text">
            <span>Monday to Friday: <strong>10</strong> am - <strong>21</strong> pm</span>
            <br/>
            <span>Saturday: <strong>11</strong> am - <strong>19</strong> pm</span>
          </p>
        </div>

        <div class="menu-overlay__info-section menu-overlay__info-section--contact">
          <h1 class="menu-overlay__restaurant-info__title">Contact</h1>
          <p class="menu-overlay__restaurant-info__text">
            <span>+351 123 456 789</span>
            <br/>
            <span>
              <a href="contact.html">info@purewindcoffee.com</a>
            </span>
          </p>
        </div>

        <div class="menu-overlay__info-section menu-overlay__info-section--address">
          <h1 class="menu-overlay__restaurant-info__title">Address</h1>
          <p class="menu-overlay__restaurant-info__text">
            <span>Fictional Street, 1010</span>
            <br/>
            <span>4050-430 Porto, Portugal</span>
          </p>
        </div>
      </div>

      {% include "parts/_socialmedia.html" %}

    </div>
  </div>
</nav>
