
$primary-color = #0085B3
$secondary-color = #104F66
$black = #000000
$white = #ffffff

a:link,
a:active,
a:visited,
a:hover
  color: $primary-color

a.is-white:link,
a.is-white:active,
a.is-white:visited,
a.is-white:hover
  color: $white

a.is-black:link,
a.is-black:active,
a.is-black:visited,
a.is-black:hover
  color: $black

a.is-bold:link,
a.is-bold:active,
a.is-bold:visited,
a.is-bold:hover
  font-weight: bold
