$alertify-success-background-color = #5CE0C7
$alertify-success-typography-color = #087F74
$alertify-error-typography-color = white

.ajs-message.ajs-visible
  font-family: Corbel
  font-weight: bold
  text-align: center

.ajs-message.ajs-visible.ajs-success
  background-color: $alertify-success-background-color
  color: $alertify-success-typography-color

.ajs-message.ajs-visible.ajs-error
  color: $alertify-error-typography-color
