$primary-color = #0085B3

//Media queries
$mobile-end = 768px
$tablet-start = 769px
$tablet-end = 1087px
$desktop-start = 1088px

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

transform()
  vendor('transform', arguments)

transition()
  vendor('transition', arguments)

transform-origin()
  vendor('transform-origin', arguments)

.navbar-brand
  position: relative
  z-index: 2

.navbar--fixed
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;

//  DESKTOP:
@media screen and (min-width: $desktop-start)
  .menu-overlay,
  .navbar-burger
    display: none

  .navbar
    background-color: $primary-color
    opacity: 0.9

  .navbar--fixed
    bottom: 0

  .navbar-start
    justify-content: center
    width: 100%

  .navbar-item
    font-family: Htowert
    font-size: 1.5em

//  MOBILE AND TABLET:
@media screen and (max-width: $tablet-end)
  .navbar
    background-color: transparent

  .navbar--fixed
    top: 0

  .navbar-burger
    display: flex
    align-items: center
    justify-content: center
    background-color: $primary-color
    opacity: 0.9

  .navbar-burger:hover
    background-color: $primary-color

  .navbar-burger__icon
    width: 25px
    height: 22px
    position: relative
    transform: rotate(0deg)
    transition: 0.5s ease-in-out
    cursor: pointer

  .navbar-burger__icon span
    width: 100%
    height: 3px
    display: block
    position: absolute
    left: 0
    opacity: 1
    background: white
    border-radius: 20px
    transform: rotate(0deg)
    transition: 0.25s ease-in-out

  .navbar-burger__icon span:nth-child(1)
    top: 0px
    transform-origin: left center

  .navbar-burger__icon span:nth-child(2)
    top: 7px
    transform-origin: left center

  .navbar-burger__icon span:nth-child(3)
    top: 14px
    transform-origin: left center

  .navbar-burger__icon.open span:nth-child(1)
    top: -1px
    left: 4px
    transform: rotate(45deg)

  .navbar-burger__icon.open span:nth-child(2)
    width: 0%
    opacity: 0

  .navbar-burger__icon.open span:nth-child(3)
    top: 17px
    left: 4px
    transform: rotate(-45deg)

  /****** Menu Overlay ******/
  .menu-overlay
    height: 0
    width: 100%
    position: fixed
    z-index: 1
    left: 0
    top: 0
    background-color: white
    overflow-x: hidden // disable horizontal scroll
    overflow-y: scroll
    -webkit-overflow-scrolling: touch; // fix issue with iOS devices not using 'momentum' scrolling on overlay
    transition: 0.5s // 0.5 second transition effect to slide down

  .menu-overlay__content
    width: 100%
    text-align: center

  .menu-overlay__navigation-items
    position: relative
    z-index: 2
    padding-top: 52px /* Avoid conflict with the close button */
    margin-bottom: -1px /* Seamlessly connect to the border image */
    background-color: $primary-color

  .menu-overlay__navigation-item
    padding: 0.2em
    text-decoration: none
    font-size: 2em
    color: white
    display: block

  .menu-overlay__navigation-items__border
    margin-top: -2em
    z-index: 1

  .menu-overlay__restaurant-info
    margin-bottom: 1em
    color: $primary-color

  .menu-overlay__info-section
    margin: 1.2em 1em

  .menu-overlay__info-section--opening-times
    margin-top: 0

  .menu-overlay__restaurant-info__title
    font-size: 2em

  .menu-overlay__restaurant-info__text
    font-family: Corbel
    font-size: 1.3em
