
.sm-icons,
.sm-icons-white
  text-align: center
  margin-bottom: 1.2em

.social-media__icon
  width: 32px
  margin: 0.5em

.sm-icons-white .social-media__icon--facebook
  content: url("../icons/icon-face-white.jpg")

.sm-icons-white .social-media__icon--twitter
  content: url("../icons/icon-twttr-white.jpg")

.sm-icons-white .social-media__icon--instagram
  content: url("../icons/icon-insta-white.jpg")