
{% extends "layouts/_base.html" %}

<!------------------- Layout Variables ------------------------->
<!-- pageTitle is defined in brunch-config.js -->
{% block pageTitle %}{{ pageTitle }} - Contact{% endblock %}

<!-- REQUIRED: to fire scripts for this page -->
{% block bodyClass %}contact{% endblock %}
<!-------------------------------------------------------------->

{% block main %}
  <section class="contact-map"></section>

  <section class="contact-box">
    <h1 class="contact-box__title">What's on your mind?</h1>
    <form class="contact-form" action="https://formcarry.com/s/S1CntCtlm" method="POST" accept-charset="UTF-8">

      <div class="field">
        <label class="form-label">Name</label>
        <div class="control has-icons-right">
          <input class="input is-danger" type="text" name="name">
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help is-danger">This field cannot be empty</p>
      </div>

      <div class="field">
        <label class="form-label">Email</label>
        <div class="control has-icons-right">
          <input class="input is-danger" type="email" name="email">
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help is-danger">Invalid email address</p>
      </div>

      <div class="field">
        <label class="form-label">Message</label>
        <div class="control">
          <textarea class="textarea is-danger" name="message"></textarea>
        </div>
        <p class="help is-danger">This field cannot be empty</p>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>

    </form>
  </section>

  <img class="contact-box__border" src="borders/white-border-bottom-up.png">

  <!--Google Maps-->
  <script>
    function initMap() {
      const mapCenter = {lat: 41.141098, lng: -8.617907};
      const mapOptions = {
          center: mapCenter,
          zoom: 16,
          zoomControl: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
      }
      const map = new google.maps.Map(document.querySelector('.contact-map'), mapOptions);
      const marker = new google.maps.Marker({position: mapCenter, map: map});
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkPkBgemTv6F83HGw-uBKp4uUBH7uawgg&callback=initMap"></script>
{% endblock %}