
{% extends "layouts/_base.html" %}

<!------------------- Layout Variables ------------------------->
<!-- pageTitle is defined in brunch-config.js -->
{% block pageTitle %}{{ pageTitle }} - Home{% endblock %}

<!-- REQUIRED: to fire scripts for this page -->
{% block bodyClass %}home{% endblock %}
<!-------------------------------------------------------------->

{% block main %}
  <section class="highlights">
    <div class="highlights-place">
      <img class="highlights__image highlights__image--place" src="images/home-mobile-01.png">
      <h3 class="highlights__title highlights__title--place">Best place to relax and enjoy!</h3>
    </div>

    <div class="highlights-beverage-1">
      <img class="highlights__image highlights__image--beverage-1" src="images/home-mobile-04.png">
      <h3 class="highlights__title highlights__title--beverage-1">Tropical fruit smoothie.</h3>
    </div>

    <div class="highlights-plate-1">
      <img class="highlights__image highlights__image--plate-1" src="images/home-mobile-05.png">
      <h3 class="highlights__title highlights__title--plate-1">Avocado green hummus mix plate.</h3>
    </div>

    <div class="highlights-beverage-2">
      <img class="highlights__image highlights__image--beverage-2" src="images/home-mobile-06.png">
      <h3 class="highlights__title highlights__title--beverage-2">Refreshing.</h3>
    </div>

    <div class="highlights-plate-2">
      <img class="highlights__image highlights__image--plate-2" src="images/home-mobile-07.png">
      <h3 class="highlights__title highlights__title--plate-2">Vegan.</h3>
    </div>

    <div class="highlights-appetizer">
      <img class="highlights__image highlights__image--appetizer" src="images/home-mobile-08.png">
      <h3 class="highlights__title highlights__title--appetizer">Delicious.</h3>
    </div>
  </section>

  <section class="restaurant-info">
    <img class="restaurant-info__border restaurant-info__border--top" src="images/border-blue-top.svg">

    <div class="opening-times">
      <h2 class="restaurant-info__title">Opening Times</h2>
      <p class="restaurant-info__text">
        <span>Monday to Friday: <strong>10</strong> am - <strong>21</strong> pm</span>
        <br/>
        <span>Saturday: <strong>11</strong> am - <strong>19</strong> pm</span>
      </p>
    </div>

    <div class="contact">
      <h2 class="restaurant-info__title">Contact</h2>
      <p class="restaurant-info__text">
        <span>+351 223 456 593</span>
        <br/>
        <span>info@purewindcoffee.com</span>
      </p>
    </div>

    <div class="address">
      <h2 class="restaurant-info__title">Contact</h2>
      <p class="restaurant-info__text">
        <span>Rua do Douro 1567</span>
        <br/>
        <span>4050-200 Porto Portugal</span>
      </p>
    </div>

    <img class="restaurant-info__border restaurant-info__border--bottom" src="images/border-blue-bottom.svg">
  </section>
{% endblock %}
