
{% extends "layouts/_main_layout.html" %}

<!------------------- Layout Variables ------------------------->
<!-- pageTitle is defined in brunch-config.js -->
{% block pageTitle %}{{ pageTitle }} - Home{% endblock %}

<!-- REQUIRED: to fire scripts for this page -->
{% block bodyClass %}home{% endblock %}
<!-------------------------------------------------------------->

{% block main %}
  <section class="branding">
    <a href="index.html">
      <img class="branding__logo" src="images/logos/logo-desktop.png" alt="The Pure Wind Coffee Shop">
    </a>
  </section>

  <section class="highlights">
    <div class="highlight__item highlight__item--1">
      <a class="highlight__link" href="about.html">
        <img class="highlights_image highlight__image--1" src="images/home/desktop/home-desktop-01.jpg">
      </a>
      <a class="highlight__link" href="about.html">
        <h2 class="highlight__title highlight__title--1">Best place to relax and enjoy!</h2>
      </a>
    </div>

    <div class="highlight__item highlight__item--2">
      <a class="highlight__link" href="menu.html#smoothies">
        <img class="highlights_image highlight__image--2" src="images/home/desktop/home-desktop-04.jpg">
      </a>
      <a class="highlight__link" href="menu.html#smoothies">
        <h2 class="highlight__title highlight__title--2">Tropical smoothies</h2>
      </a>
    </div>

    <div class="highlight__item highlight__item--3">
      <a class="highlight__link" href="menu.html#brunch">
        <img class="highlights_image highlight__image--3" src="images/home/desktop/home-desktop-05.jpg">
      </a>
      <a class="highlight__link" href="menu.html#brunch">
        <h2 class="highlight__title highlight__title--3">Healthy mixed plates</h2>
      </a>
    </div>

    <div class="highlight__item highlight__item--4">
      <a class="highlight__link" href="menu.html#smoothies">
        <img class="highlights_image highlight__image--4" src="images/home/desktop/home-desktop-06.jpg">
      </a>
      <a class="highlight__link" href="menu.html#smoothies">
        <h2 class="highlight__title highlight__title--4">Seafront view</h2>
      </a>
    </div>

    <div class="highlight__item highlight__item--5">
      <a class="highlight__link" href="menu.html#salads">
        <img class="highlights_image highlight__image--5" src="images/home/desktop/home-desktop-07.jpg">
      </a>
      <a class="highlight__link" href="menu.html#salads">
        <h2 class="highlight__title highlight__title--5">Vegan Salads</h2>
      </a>
    </div>

    <div class="highlight__item highlight__item--6">
      <a class="highlight__link" href="menu.html#sandwiches">
        <img class="highlights_image highlight__image--6" src="images/home/desktop/home-desktop-08.jpg">
      </a>
      <a class="highlight__link" href="menu.html#sandwiches">
        <h2 class="highlight__title highlight__title--6">Delicious</h2>
      </a>
    </div>
  </section>

  <section class="restaurant-info">
    <img class="restaurant-info__border" src="borders/blue-border-top.png">

    <div class="restaurant-info__content">
      <div class="restaurant-info__section restaurant-info__section--opening-times">
        <h1 class="restaurant-info__title">Opening Times</h1>
        <p class="restaurant-info__text">
          <span>Monday to Friday: <strong>10</strong> am - <strong>21</strong> pm</span>
          <br/>
          <span>Saturday: <strong>11</strong> am - <strong>19</strong> pm</span>
        </p>
      </div>

      <div class="restaurant-info__section restaurant-info__section--contact">
        <h1 class="restaurant-info__title">Contact</h1>
        <p class="restaurant-info__text">
          <span>+351 123 456 789</span>
          <br/>
          <span>
            <a class="is-white" href="contact.html">info@purewindcoffee.com</a>
          </span>
        </p>
      </div>

      <div class="restaurant-info__section restaurant-info__section--address">
        <h1 class="restaurant-info__title">Address</h1>
        <p class="restaurant-info__text">
          <span>Fictional Street, 1010</span>
          <br/>
          <span>4050-430 Porto, Portugal</span>
        </p>
      </div>
    </div>

    <img class="restaurant-info__image" src="images/home/desktop/home-desktop-09.jpg">
  </section>

{% endblock %}
