
{% extends "layouts/_base.html" %}

<!------------------- Layout Variables ------------------------->
<!-- pageTitle is defined in brunch-config.js -->
{% block pageTitle %}{{ pageTitle }} - Home{% endblock %}

<!-- REQUIRED: to fire scripts for this page -->
{% block bodyClass %}home{% endblock %}
<!-------------------------------------------------------------->

{% block main %}
  <section class="highlights">
    <div class="highlights-place">
      <img class="highlights-place__image" src="images/home-mobile-01.png">
      <h3 class="highlights-place__title">Best place to relax and enjoy!</h3>
    </div>

    <div class="highlights-beverage-1">
      <img class="highlights-beverage-1__image" src="images/home-mobile-04.png">
      <h3 class="highlights-beverage-1__title">Tropical fruit smoothie.</h3>
    </div>

    <div class="highlights-plate-1">
      <img class="highlights-plate-1__image" src="images/home-mobile-05.png">
      <h3 class="highlights-plate-1__title">Avocado green hummus mix plate.</h3>
    </div>

    <div class="highlights-beverage-2">
      <img class="highlights-beverage-2__image" src="images/home-mobile-06.png">
      <h3 class="highlights-beverage-2__title">Refreshing.</h3>
    </div>

    <div class="highlights-plate-2">
      <img class="highlights-plate-2__image" src="images/home-mobile-07.png">
      <h3 class="highlights-plate-2__title">Vegan.</h3>
    </div>

    <div class="highlights-appetizer">
      <img class="highlights-appetizer__image" src="images/home-mobile-08.png">
      <h3 class="highlights-appetizer__title">Delicious.</h3>
    </div>
  </section>

  <section class="restaurant-info">
    <img class="" src="images/border-blue-top.svg">

    <div class="opening-times">
      <h2 class="restaurant-info__title">Opening Times</h2>
      <p class="restaurant-info__text">
        <span>Monday to Friday: <strong>10</strong> am - <strong>21</strong> pm</span>
        <br/>
        <span>Saturday: <strong>11</strong> am - <strong>19</strong> pm</span>
      </p>
    </div>

    <div class="contact">
      <h2 class="restaurant-info__title">Contact</h2>
      <p class="restaurant-info__text">
        <span>+351 223 456 593</span>
        <br/>
        <span>info@purewindcoffee.com</span>
      </p>
    </div>

    <div class="address">
      <h2 class="restaurant-info__title">Contact</h2>
      <p class="restaurant-info__text">
        <span>Rua do Douro 1567</span>
        <br/>
        <span>4050-200 Porto Portugal</span>
      </p>
    </div>

    <img src="images/border-blue-bottom.svg">
  </section>
{% endblock %}
