
{% extends "layouts/_base.html" %}

<!------------------- Layout Variables ------------------------->
<!-- pageTitle is defined in brunch-config.js -->
{% block pageTitle %}{{ pageTitle }} - Menu{% endblock %}

<!-- REQUIRED: to fire scripts for this page -->
{% block bodyClass %}menu{% endblock %}
<!-------------------------------------------------------------->

{% block main %}
  <section class="menu-list">
    <img class="menu__category-image menu__category-image--smoothies" src="images/menu/menu-mobile-01.png">

    <!-- Smoothies -->
    <h2 class="menu__category-title menu__category-title--smoothies">Smoothies</h2>
    <div class="menu__item">
      <p class="menu__item--name">Peach & Oats</p>
      <p class="menu__item--price">8.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Banana Java</p>
      <p class="menu__item--price">7.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Red Delicious Mix</p>
      <p class="menu__item--price">6.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Orange Crush</p>
      <p class="menu__item--price">9.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Endless Summer</p>
      <p class="menu__item--price">7.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Blueberry Lavender</p>
      <p class="menu__item--price">8.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Raspberry Turmeric</p>
      <p class="menu__item--price">6.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Chunky Monkey</p>
      <p class="menu__item--price">8.00€</p>
    </div>

    <!-- Coffee -->
    <h2 class="menu__category-title menu__category-title--coffee">Coffee</h2>
    <div class="menu__item">
      <p class="menu__item--name">Espresso</p>
      <p class="menu__item--price">2.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Red Americano</p>
      <p class="menu__item--price">2.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Latte</p>
      <p class="menu__item--price">3.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Macchiato</p>
      <p class="menu__item--price">3.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Cappuccino</p>
      <p class="menu__item--price">3.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Mocha</p>
      <p class="menu__item--price">3.00€</p>
    </div>

    <!-- Juice -->
    <h2 class="menu__category-title menu__category-title--juice">Juice</h2>
    <div class="menu__item">
      <p class="menu__item--name">Watermelon & Mint</p>
      <p class="menu__item--price">8.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Aamras</p>
      <p class="menu__item--price">7.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Ananas da Panna</p>
      <p class="menu__item--price">6.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Lychee & Dill</p>
      <p class="menu__item--price">9.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Very Berry Katta</p>
      <p class="menu__item--price">10.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Grape Nectar</p>
      <p class="menu__item--price">7.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Orange</p>
      <p class="menu__item--price">8.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Lemonade</p>
      <p class="menu__item--price">6.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Pineapple</p>
      <p class="menu__item--price">8.00€</p>
    </div>

    <img class="menu__category-image menu__category-image--brunch" src="images/menu/menu-mobile-02.png">

    <!-- Brunch -->
    <h2 class="menu__category-title menu__category-title--brunch">Brunch</h2>
    <div class="menu__item">
      <p class="menu__item--name">Cardamom-Vanilla Granola</p>
      <p class="menu__item--price">6.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Butternut Squash-Kale Hash</p>
      <p class="menu__item--price">12.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Pumpkin Dutch Baby with Pears</p>
      <p class="menu__item--price">13.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Horseradish Potatoes</p>
      <p class="menu__item--price">11.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Mini Smoked Salmon Frittatas</p>
      <p class="menu__item--price">9.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Maple-Cinnamon French Toast</p>
      <p class="menu__item--price">7.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Granola Yogurt Parfait</p>
      <p class="menu__item--price">6.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Almond Ciabatta French Toast</p>
      <p class="menu__item--price">6.00€</p>
    </div>

    <!-- Sandwiches -->
    <h2 class="menu__category-title menu__category-title--sandwiches">Sandwiches</h2>
    <div class="menu__item">
      <p class="menu__item--name">Bagel Toast</p>
      <p class="menu__item--price">5.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Beirute</p>
      <p class="menu__item--price">7.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">BLT</p>
      <p class="menu__item--price">8.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Kebab</p>
      <p class="menu__item--price">7.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Cuban Sandwich</p>
      <p class="menu__item--price">8.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Barcos Jarra</p>
      <p class="menu__item--price">9.00€</p>
    </div>

    <!-- Salads -->
    <h2 class="menu__category-title menu__category-title--salads">Salads</h2>
    <div class="menu__item">
      <p class="menu__item--name">Banana Salad</p>
      <p class="menu__item--price">5.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Cappon Magro</p>
      <p class="menu__item--price">4.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Caesar Salad</p>
      <p class="menu__item--price">4.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Vegan Dream</p>
      <p class="menu__item--price">7.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Karedok</p>
      <p class="menu__item--price">6.50€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Panzanella</p>
      <p class="menu__item--price">7.00€</p>
    </div>
    <div class="menu__item">
      <p class="menu__item--name">Waldorf Salad</p>
      <p class="menu__item--price">7.00€</p>
    </div>
  </section>

  <section class="footer-image">
    <img class="footer-image__image" src="images/menu/menu-mobile-03.png">
  </section>
{% endblock %}
