<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="{{ siteImage }}" />
  <meta property="og:description" content="{{ siteDescription }}" />
  <meta property="og:url"content="{{ siteUrl }}" />
  <title>{% block pageTitle %}{{ pageTitle }}{% endblock %}</title>
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
  <link rel="stylesheet" href="styles/app.css">
</head>
<body class="{% block bodyClass %}{% endblock %}">

<main class="main">
  {% include "parts/_header.html" %}

  {% block main %} {% endblock %}

  {% if hasFooter == true %}
  {% include "parts/_footer.html" %}
  {% endif %}
</main>

<script src="js/vendor.js"></script>
<script src="js/app.js"></script>
<script>require('js/initialize');</script>
</body>
</html>
